<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>&quot;google.com&quot;</string>
	<key>API_KEY</key>
	<string></string>
	<key>MAX_RESULTS</key>
	<integer>100</integer>
	<key>RESULTS_PER_PAGE</key>
	<integer>25</integer>
</dict>
</plist>
