<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ICON_NAME</key>
	<string>globe</string>
	<key>API_URL</key>
	<string>https://www.google.com/search?q=</string>
	<key>API_KEY</key>
	<string></string>
	<key>MAX_PAGE_COUNT</key>
	<integer>-1</integer>
	<key>RESULTS_PER_PAGE</key>
	<integer>-1</integer>
</dict>
</plist>
